.single-img{
width: 55%;
min-height: 30% !important;
}

.article-font{
    font-family: 'Montserrat', sans-serif;
    
}

.bot-panel{
    
}

.shop-button{
    transform: translateY(5%);

}

.plant-button{
    transform: translateY(-200%);
    
}